node_modules
dist
.tmp
.sass-cache
bower_components
node_modules
www
.tmp
.sass-cache
<%= appPath %>/bower_components
coverage
platforms
plugins
*.swp
*.swo
*.log
*.DS_Store
Thumbs.db
.iws
workspace.xml
tasks.xml
vcs.xml
encodings.xml
.idea/encodings.xml
