 <div class="home-page">
  <div class="jumbotron">
    <h3 class="welcomeHeader">Welcome to Roland's Portfolio</h3>
    <div class="animationContainer">
      <img class="homeAnimation" ng-src="images/animation.png" alt="Web animation" />
      <span class="introText">{{introText}}</span>
      <ul class="webtext">
        <li><span>{{animationText}}</span></li>
      </ul>
    </div>
    <p class="lead homeText">
      I am a Front-End Web Developer armed with strong, modern and W3C compliant web technologgies.
    </p>
  </div>
 </div>

